[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/slimv"]
	path = vim/bundle/slimv
	url = git://github.com/vim-scripts/slimv.vim.git
[submodule "vim/bundle/a"]
	path = vim/bundle/a
	url = git://github.com/vim-scripts/a.vim.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
